// Blank lines indicate load-order groups, everything else is alphabetically sorted

@import './utilities/variables.scss';
@import './utilities/mixins.scss';

// Bootstrap overrides

$headings-font-family: 'Merriweather', serif;
$headings-font-weight: 500;

$display1-weight: $headings-font-weight;

$grid-gutter-width: $spacing * 2;

$link-color:                inherit;
$link-decoration:           underline;
$link-hover-color:          inherit;
$link-hover-decoration:     none;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$dark: rgb(20, 20, 25);

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Bootstrap extensions

$font-family-base: 'Lato', $font-family-sans-serif;

$theme-colors: map-merge(
  (
    "white": $white
  ),
  $theme-colors
);

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/display";

@import './elements/typo.scss';

@import './elements/article.scss';
@import './elements/body.scss';
@import './elements/experience.scss';
@import './elements/footer.scss';
@import './elements/header.scss';
@import './elements/main.scss';
@import './elements/sup.scss';

@import './utilities/centraliser.scss';

