@mixin article-background($name) {
    $url: "../images/background-article-#{$name}.jpg";

    .bg-#{$name} {
        background-image: url($url);
        @content;
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
}