$headings-font: 'Numans', serif;
$body-font: 'Roboto', sans-serif;

$spacing: 2.4rem;

$small-start-breakpoint: 320px;
$medium-start-breakpoint: 560px;
$regular-start-breakpoint: 768px;
$large-start-breakpoint: 1024px;
$big-start-breakpoint: 1280px;
$huge-start-breakpoint: 1600px;
