.bg {
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@include article-background('about-me') {
    @include make-col-ready();

    min-height: 200px !important;
    background-position: left top;

    @media screen and (min-height: 600px) {
        min-height: 400px !important;
        background-position: left center;
    }

    @include media-breakpoint-up(xs) { @include make-col(60); }
    @include media-breakpoint-up(sm) { @include make-col(60); }
    @include media-breakpoint-up(md) { @include make-col(40); }
    @include media-breakpoint-up(lg) { @include make-col(30); }
    @include media-breakpoint-up(xl) { @include make-col(24); }
};

@include article-background('development') {
    @include make-col-ready();

    min-height: 360px !important;

    @media screen and (min-height: 600px) {
        min-height: 480px !important;
    }
    
    @include media-breakpoint-up(xs) { @include make-col(60); }
    @include media-breakpoint-up(sm) { @include make-col(60); }
    @include media-breakpoint-up(md) { @include make-col(40); }
    @include media-breakpoint-up(lg) { @include make-col(30); }
    @include media-breakpoint-up(xl) { @include make-col(36); }
};

@include article-background('first-project') {}
@include article-background('second-project') {}
@include article-background('third-project') {}