body {
  color: white;
  box-sizing: border-box;

  @include make-container();

  background-image: url('../images/background-scotland-overlook.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}