main {
    @include make-row();
    margin: initial;
    padding-bottom: $spacing;

    hr {
        flex-basis: 100%;
        overflow: hidden;
        margin: ($spacing * 3) 0;
        border: 0;
    }

    article {
        color: #333;
        background-color: white;
        padding: $spacing;
        box-sizing: border-box;

        &.transparent {
            color: white;
            background-color: transparent;
        }

        &:not(.transparent) {
            h1, h2, h3, h4, h5, h6 {
                word-spacing: initial;
                letter-spacing: initial;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            text-transform: lowercase;
            font-variant: small-caps;

            text-align: center;

            line-height: 1.1;

            margin-bottom: $spacing;
        }

        p {
            line-height: 1.6667;
        }

        a {
            &.button {
                border: 1px solid;
                padding: $spacing/2 $spacing;
                text-decoration: none;
            }
        }

        .anchor {
            height: 0px;
            position: absolute;
            top: -$spacing * 1;
        }
    }
}