$nav-padding: $spacing;
$nav-font-size: 1.4rem;

$nav-height: ($spacing * 2) + $nav-font-size;

header {
    position: relative;
    height: $nav-height;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: $nav-height;

    padding: 0 0 ($nav-padding / 2) 0;
    font-size: $nav-font-size;
    line-height: 1;

    box-sizing: border-box;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: 'Numans';
        font-variant: small-caps;
        text-transform: lowercase;
        text-align: right;
        word-spacing: 0.15em;
        letter-spacing: 0.05em;
        white-space: nowrap;

        li {
            display: inline-block;
            margin: 0;
            padding: ($nav-padding / 2) 0;
            transition: padding 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out; 
            position: relative;
            opacity: 0.5;

            overflow: hidden;

            &:hover {
                cursor: pointer;

                color: transparent;
                opacity: 1;

                &:after {
                    color: white;
                }
            }

            &:after {
                color: transparent;
                text-align: center;
                white-space: nowrap;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding: ($nav-padding / 2) 0;
            }
        }
    }
}

header .about-me {
    &:hover {
        padding: ($nav-padding / 2) 1.875em;
    }
    &:after {
        content: 'about me';
    }
}
header .projects {
    &:hover {
        padding: ($nav-padding / 2) 0.625em;
    }
    &:after {
        content: 'what I do';
    }
}
header .contact {
    &:hover {
        padding: ($nav-padding / 2) 1.125em;
    }
    &:after {
        content: 'contact me';
    }
}
