main.projects {
    .project {
        @include make-col-ready();
    
        @include media-breakpoint-up(xs) { @include make-col(60); }
        @include media-breakpoint-up(sm) { }
        @include media-breakpoint-up(md) { @include make-col(20); }
        @include media-breakpoint-up(xl) { @include make-col(12); }
    
        padding: 0;

        hr {
            margin: 0;
        }

        article {
            @include media-breakpoint-up(xs) {
                @include make-col(60);
                &:first-child {
                    @include aspect-ratio(2,1);
                }
            }
            @include media-breakpoint-up(md) {
                &:first-child {
                    @include aspect-ratio(1,1);
                }
            }

            p {
                text-align: center;
            }
        }
    }
}
