h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font;
    word-spacing: 0.134em;
    letter-spacing: 0.267em;
    font-weight: normal;
}

p {
    font-size: 1.4rem;
}

@for $i from 1 through 6 {
    $step: 0.2rem;
    
    h#{$i}{
        font-size: 3.2rem - ($step * $i);
    }
}

body, html {
    font-family: $body-font;
    font-size: 62.5%;
}